{% extends 'layout.html' %}
{% block content %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 借阅管理 </h3>
            </div>
             <table class="table table-bordered">
                <thead>
                <tr>
                    <th>借书证号</th>
                    <th>读者ID</th>
                    <th>书籍编号</th>
                    <th>可借阅时间</th>
                    <th>应还时间</th>
                    <th>实际还书日期</th>

                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.BorrowID }}</td>
                        <td>{{ obj.rdID }}</td>
                        <td>{{ obj.bkID }}</td>
                        <td>{{ obj.IdContinueTimes}}</td>
                        <td>{{ obj.ldDateOut }}</td>
                        <td>{{ obj.ldDateRetAct}}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/index/{{ obj.bkID }}/book_edit">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/index/{{ obj.bkID }}/book_delete">删除</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>


{% endblock %}