{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/index/student_manage/reader_add">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建用户
            </a>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                用户列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>读者类型</th>
                    <th>读者单位</th>
                    <th>电话</th>
                    <th>邮箱</th>
                    <th>登记日期</th>
                    <th>状态</th>
                    <th>可借书天数</th>
                    <th>密码</th>
                    <th>权限</th>
                    <th>操作</th>
                </tr>

                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.rdID }}</td>
                        <td>{{ obj.rdName }}</td>
                        <td>{{ obj.rdSex }}</td>
                        <td>{{ obj.rdType }}</td>
                        <td>{{ obj.rdDept }}</td>
                        <td>{{ obj.rdPhone }}</td>
                        <td>{{ obj.rdEmail }}</td>
                        <td>{{ obj.rdDateReg }}</td>
                        <td>{{ obj.rdStatus }}</td>
                        <td>{{ obj.rdBorrowQty }}</td>
                        <td>{{ obj.rdPwd }}</td>
                        <td>{{ obj.rdAdminRoles }}</td>

                        <td>
                            <a class="btn btn-primary btn-xs" href="/index/{{ obj.rdID }}/reader_edit">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/index/{{ obj.rdID }}/reader_delete">删除</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}