{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <a class="btn btn-success" href="/index/reader_add">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            新建用户
        </a>
        <a class="btn btn-success" href="/index/reader_list">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            读者列表
        </a>
        <br>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 读者管理 </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/index/student_manage">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>办理借书证</label>
                        <br>
                        读者类型：<input type="text" class="form-control" name="rdType">
                        读者姓名：<input type="text" class="form-control" name="rdName">
                        读者单位： <input type="text" class="form-control" name="rdDept">
                    </div>
                    <button type="submit" class="btn btn-primary">查询</button>
                </form>
            </div>
        </div>
    </div>
   {% endblock %}
